<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.uiprojectv2">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/HiddenTitleTheme">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@drawable/vertical_progressbar" />

        <activity
            android:name=".ProgressActivity"
            android:parentActivityName=".PourActivity" />
        <activity
            android:name=".PourActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".NewRecipeActivity"
            android:parentActivityName=".RecipeActivity" />
        <activity
            android:name=".RecipeActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".BottlesActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".MenuActivity"
            android:parentActivityName=".DeviceSelectActivity" />
        <activity
            android:name=".DeviceSelectActivity"
            android:noHistory="true"
            android:parentActivityName=".WelcomeScreenActivity" />
        <activity
            android:name=".WelcomeScreenActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>